*{
 margin:0;
  padding:0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
button:hover{
  cursor: pointer;
}
.header{
  width:100%;
  padding: 1% 0% 1% 0%;
  background-color: #FAFAFA;
}
.header #logo{
  width:7%;
  padding-left:4%;
 
}


.header #signup-login{
  float:right;
  margin-right:1%;
  padding-top: 1%;
  width:20%;
  

}
.header #signup-login #signup{
  border-style: hidden;
  background-color:white;
  padding:3%;
  font-size:1.0vw;
  font-weight:700;  
  background-color: inherit;
  
}
.header #signup-login #login{
  border-style: hidden;
  background-color:white;
  padding:3%;
  margin-left:15%;
  font-size:1.0vw;
  font-weight:700;
  background-color: inherit;
}
 #signup:hover {
   
   cursor: pointer;
    text-decoration:underline;
}

 #login:hover {
  cursor: pointer;
   text-decoration:underline;
  
}


 .navbar{
  padding:1% 0% 1% 10%;
 

  width:90%;
  background-color:#0d47a1;
  overflow: hidden;
   height:4%;

}

.navbar button{
    font-size: 1.5vw;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin-left:5%;
  
}
 .navbar button:hover{
  text-decoration:underline;
  color: beige;
}

main .headline{
  border: 1px hidden;
  background-image: url("./storage/photos/cat-header3.jpg");
  width:100%;

}

main  #h1h2{
  text-align: center;
  color: white;
  padding: 5% 50% 5% 0%;
  top: 30%;

}

main .headline #h1{
  font-size: 3vw;
  font-weight: 500%;
}

main .headline #h2{
  padding-top: 10%;
  font-size: 2vw;
  font-weight: 500%;
}
#imgheader{
  width: 100%;
}
main .headline{ 
  animation-name: catfadin;
  animation-duration: 0.5s;
  
}

@keyframes catfadin {
  from {opacity: 0;}
  to {opacity: 1;}
}




main .petsForAdoption{
  width: 100%;
  padding-top: 5%;
  background-color: whitesmoke;
  height: 25rem;
  
  
}

main .petsForAdoption #header{
 
  text-align: center;
}

main .petsForAdoption #borders{
  margin: 0% 7% 0% 7%;
  padding: 2% 0% 2% 0%;
  width: 40%;

  display: grid;
  grid-template-columns: 40% 40% 40% 40% 40%;
  column-gap: 5%;

  
}

main .petsForAdoption #borders div{
  height: 50%;
  border: 10px ridge #0d47a1;
 
  padding: 3%;
}

main .petsForAdoption #borders h3{
  position: relative;
  bottom: 100%;
  color: #0d47a1;
  text-align: center;
  font-size: 3vw;
 height: 25%;
  border: 1px hidden;
  padding: 50% 6% 50% 6%;
  
  opacity: 0;

}

main .petsForAdoption #borders #clickForMore h3{
  position: relative;
  bottom: 90%;
}

main .petsForAdoption #borders div:hover{
opacity: 0.8;
cursor: pointer;
}
main .petsForAdoption #borders h3:hover{
  opacity: 1;

  transition-delay: 0s;
      transition-duration: 0.4s;
        transform: translateY(78%);
  }

  main .petsForAdoption #borders #clickForMore h3:hover{
    transition-delay: 0s;
    transition-duration: 0.4s;
      transform: translateY(15%);
  }


main .petsForAdoption img{
  width: 100%;
  margin-left: 0%;
}
main .petsForAdoption #clickForMore #forMore{
  opacity: 0.2;
  padding: 18% 1% 1% 1%;
  background-image: image("./storage/photos/adopt.png");
}




main .theProcess{
 
  position: relative;
  display: grid;
  text-align: center;
  grid-template-columns: 20% 20% 20%;
  width: 92%;
  background-color: #FAFAFA;
  padding: 3% 0% 3% 8%;
  column-gap: 15%;

}

main .theProcess p{
  margin-top: 4%;
  font-size: small;

}

main .theProcess a{
  text-decoration: none;
  color: rgb(0, 134, 243);
  font-weight: bold;
 
}

main .theProcess a:hover{
  text-decoration: underline;
  

}

main .theProcess img{
  width: 20%;

}
main .theProcess #searchImg{
  width:25%;
}

main .contact-socialmedia{
  width: 100%;

}

main .contact{
  width: 90%;
  display: grid;
  grid-template-columns: 17% 19% 25%;
  background-color: #0d47a1;
  column-gap: 15%;
  column-gap: (3,4);
  padding: 3% 0% 3% 10%;

  
}

main .contact h2{
  color: whitesmoke;
 
}
main .contact li{
  margin-top: 10%;
  text-align: left;
  list-style-type: none;
  margin-left: 10%;
  font-size: small;

 
}

main .socialMedia{

  background-color: #012a6a;
  padding: 1%;
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 15%;
  color: whitesmoke;

}

main .socialMedia p{
  margin-top: 2%;



}
main .socialMedia #social{
  width: 30%;
margin-left: 30%;


 

}


main .socialMedia img{
width: 20%;
margin-left: 10%;
}


footer a{

  color: black;
  
}

footer a:hover{

  color: white;
}
